<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../bs.php">
    <php>
        <const name="DB_DSN" value="mysql:dbname=\CodeLapse\test;host=localhost" />
        <const name="DB_HOST" value="localhost" />
        <const name="DB_USER" value="cl_test" />
        <const name="DB_PASS" value="cl_test" />
        <const name="DB_NAME" value="cl_test" />
    </php>

    <testsuites>
        <testsuite name="default">
            <file>src/arr.php</file>
            <file>src/form.php</file>
            <file>src/pager.php</file>
            <file>src/latebinding.php</file>
            <file>src/db/crudmodel.php</file>
        </testsuite>
    </testsuites>
</phpunit>
