<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../bs.php">
    <php>
        <const name="DB_DSN" value="mysql:dbname=cl_test;host=localhost" />
        <const name="DB_HOST" value="localhost" />
        <const name="DB_USER" value="cl_test" />
        <const name="DB_PASS" value="cl_test" />
        <const name="DB_NAME" value="cl_test" />
    </php>

    <testsuites>
        <testsuite name="default">
            <directory suffix=".php">src/</directory>
        </testsuite>
    </testsuites>
</phpunit>
