@import "nib"
@import "bootstrap"

.container
    width 960px !important

#content
    margin-top (50 + 20)px


.doc-nav
    width 210px

    li
        cursor pointer

.doc-nav-item_label
    padding 30px 15px 5px

.class-name-alias::before
    content ' '

.doc-header_api-link
    font-size 16px
    line-height 1

.doc-body
    p
        margin 20px 0 !important
