@import "nib"
@import "variables"
@import "bootstrap"

body
    padding-bottom 100px

    border-bottom 10px solid #222

    font-size 16px
    line-height 1.7

.container
    width 960px !important

.navbar
    .navbar-brand
        color #e0e0e0
        font-family "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;

.navbar-nav > li
    font-size 14px

    & a
        color #e0e0e0 !important
        font-family "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;

#content
    margin-top ($navbar-height + 10px)


.doc-nav
    width 210px

    & > .nav > li > a
        padding 5px 15px
        font-size  14px

    li
        cursor pointer

    .doc-nav-item_label
        font-size 14px
        padding 20px 15px 5px

.class-name-alias::before
    content ' '

.doc-header_api-link::before
    content "\e144"

    margin-left 24px

    font-family 'Glyphicons Halflings'
    font-size 18px
    vertical-align middle
    color rgba(#3782c4, .5)

.doc-body
    .page-header
        margin-top 10px

    p
        margin 20px 0 !important
